/* Assuming you have a stylesheet where you define your styles */
.grid-container {
  display: 'flex';
  justify-content: 'center';
  flex-direction: row;
}

/* Apply vertical layout when the screen width is below a certain value */
@media (max-width: 1000px) {
  .resize-handler {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 800px) {
  /* Styles to apply when the screen width is 800px or wider */
  .card-container {
    flex-direction: column;
    margin: 0 auto; /* Center-align the content horizontally */
    justify-content: center; /* Center-align the content vertically */
    align-items: center;
  }
}

.dashboard-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

.account-container{
  margin-left: 2rem;
  margin-right: 2rem;
  flex: 2;
}

.goal-container{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  flex: 10;
}

/* .card-group{
  flex: 
} */