.goal .usa-card__container {
  width: 300px;
  height: 375px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
}

.goalSummary .usa-card__container {
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
}

