.addInvestment .usa-card__container {
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
  }
.listInvestments .usa-card__container {
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
  }
.summaryInvestments .usa-card__container {
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
  }