
/* CSS for screens 700px or less */
@media (max-width: 700px) {
    .button-container-center {
      text-align: center; /* Center the button horizontally */
    }
  
    .button-container-left {
      text-align: left; /* Reset text alignment */
    }
  
    .centered-button {
      position: static; /* Reset button position */
      margin-top: 1em; /* Add top margin to separate the button from the image */
      width: 100%; /* Resize the button to 100% width */
    }
  
    .absolute-button {
      position: absolute; /* Reset button position */
      margin-top: 0; /* Reset margin */
      width: auto; /* Reset button width */
    }
  }
  