.plannerTdTh{
    border: none !important;
    background-color: transparent !important;
}
.plannerTdTh h3{
    margin: 0 !important;
}
.plannerTbodyTr{
    /*border: 1px solid gray !important;*/
    border: none !important;
}
.plannerTableRowA{
    background-color: #c4eeeb;
}
.plannerTableRowB{
    background-color: #e0f7f6;
}
.plannerTbodyTr tr img{
    display: none !important;
}
.plannerTbodyTr tr:hover img{
    display: inline-block !important;
}
.plannerCard .usa-card__container{
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
}
.monthlyIncome .usa-card__container{
    padding: 2em;
}
.plannerHoverPointer:hover{
    cursor: pointer;
}
.plannerCard span{
    padding: 0 !important;
}